<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Registraion</h2>
      <form action="http://localhost:8001/register" method="POST">
        <input type="email" name="email" placeholder="example@gmail.com" />
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="register" />
      </form>
    </div>
  </body>
</html>
